$main_font: #000000;
$secondary_font: #ffffff;
$article_bg: #f2b705;
$header_bg: #bf1725;
$header_hover: #db2b39;
$main_bg: #f2c6ac;
$footer_bg: #3f4659;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  background-color: $header_bg;
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: nowrap;

  li {
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: 15px;
    width: 100px;
    a {
      text-align: center;
      text-decoration: none;
      color: $secondary_font;
      padding: 15px;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: $header_hover;
    }
  }
}

.header {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  background-color: $header_bg;
  justify-content: flex-start;
  color: $secondary_font;
  justify-content: center;
  &__logo {
    align-self: flex-start;
    justify-self: flex-start;

    img {
      width: 50px;
      height: auto;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-basis: 90%;
    margin-right: 50px;
  }
}

.subtitle {
  background-color: $header_bg;
  color: $secondary_font;
  font-size: large;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding: 5px;
  padding-bottom: 20px;
}

main {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  background-color: $main_bg;
  justify-content: space-evenly;
  color: $main_font;
  padding-top: 8vw;
  padding-bottom: 8vw;
  row-gap: 10%;
  overflow-y: auto;
}

.preview {
  height: auto;
  flex-basis: 30%;

  max-height: 100%;
  height: auto;
  min-width: 300px;

  box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);

  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: $article_bg;
  justify-content: center;
  color: $main_font;
  text-decoration: none;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  img {
    display: flex;
    flex-basis: 100%;
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__title {
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    font-weight: bold;
  }

  &__text {
    opacity: 0.8;
    padding: 10px;
    margin: 30px;
  }
}

.article {
  flex-basis: 95%;

  box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);

  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: $article_bg;
  justify-content: center;
  color: $main_font;

  &__title {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: xx-large;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    font-size: x-large;
    padding: 0px;
    margin: 0px;
  }

  &__text {
    text-align: left;
    font-size: large;
    padding: 10px;
    margin: 30px;
  }
}

.float_l {
  float: left;
  display: flex;
  flex-basis: 100%;
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
}

.float_r {
  float: right;
  display: flex;
  flex-basis: 100%;
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
}

.zupki {
  height: auto;
  flex-basis: 25%;

  max-height: 100%;
  height: auto;
  min-width: 300px;

  box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);

  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: $article_bg;
  justify-content: center;
  color: $main_font;
  text-decoration: none;

  transition: transform 0.3s;
  overflow: hidden;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  img {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin: 30px;

    width: 10px;
    height: auto;

    animation: rotate 5s linear infinite;
  }

  &__name {
    font-size: larger;
    text-align: center;
    font-weight: bold;
  }
  &__desc {
    opacity: 0.8;
    padding: 10px;
    margin: 30px;
  }
}

.quiz {
  flex-basis: 80%;
  box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
  border-radius: 20px;
  background-color: $article_bg;
  color: $main_font;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;

  h2 {
    text-align: center;
    flex-basis: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    min-width: 300px;
    justify-content: flex-start;
    align-content: flex-start;
    h3 {
      flex-basis: 100%;
    }
    p {
      flex-basis: 100%;
    }
  }
  label {
    background-color: $article_bg;
    box-shadow: 1px 1px 1px 0px #0a0a0d;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    &:hover {
      background-color: #ffd147;
    }
  }
  input[type="button"] {
    display: grid;
    background-color: $article_bg;
    box-shadow: 1px 1px 1px 0px #0a0a0d;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    margin-top: 30px;
    padding: 10px;
    flex-basis: 100%;
    &:hover {
      background-color: #ffd147;
    }
  }
  input[type="radio"] {
    flex-basis: 50%;
    width: 15px;
    height: 15px;
  }
  &__wynik {
    flex-basis: 50%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    &-zdj {
      flex-basis: 60%;
      max-height: 100%;
      height: auto;
      max-width: 100%;
      width: auto;

      align-self: center;
      justify-self: center;
      animation: rotate 5s linear infinite;
    }
  }
}

.about {
  box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
  border-radius: 20px;
  background-color: $article_bg;
  color: $main_font;

  min-width: 300px;
  flex-basis: 80%;
  max-height: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  text-decoration: none;

  &__subtitle {
    padding: 0px;
    margin: 0px;
  }
  &__title {
    padding: 20px;
    margin: 20px;
    font-size: larger;
    font-weight: bold;

    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  &__text {
    opacity: 0.9;
    padding: 10px;
    margin: 30px;
  }
}

.footer {
  text-align: center;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
  background-color: $footer_bg;
  color: $secondary_font;
  &__autor {
    text-align: center;
    font-size: larger;
    display: flex;
    padding: 15px;
    font-weight: bold;
  }
  &__subtitle {
    flex-basis: 100%;
    text-align: center;
    font-size: large;
    opacity: 0.9;
  }
}
